.home-btn{
  background-color: #FF581E;
    height: 40px;
    width: 100px;
}
.home-btn a{
  text-decoration: none;
    color: #fff;
    font-size: 15px;
}
.home-container{
  width: 800px;
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px;
}